################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsApplication/TestBenchApplication/.vs/TestBenchApplication/FileContentIndex/6ea68969-a67d-4181-b82e-b29dec2f98a3.vsidx
